# Notebook em Python para baixar filiados a partidos

Estes códigos foram elaborados no curso Dados 360 para fins didáticos, visando dar uma introdução à lógica por trás da programação. Não necessariamente as funções utilizadas aqui são as mais rápidas ou mais eficientes para lidar com os dados em escala.

Confira a página com a lista dos arquivos ZIP, no site do TSE: [https://www.tse.jus.br/hotsites/pesquisas-eleitorais/filiacao_partidaria.htm](https://www.tse.jus.br/hotsites/pesquisas-eleitorais/filiacao_partidaria.htm)

## Para começo de conversa...
Carregamos os pacotes desejados e definimos variáveis importantes

In [ ]:
import urllib.request as get
import pandas as pd
import zipfile
import glob

In [ ]:
partidos = ['pstu','pco','phs']
url_base = "http://cdn.tse.jus.br/estatistica/sead/odsele/filiacao_partidaria/filiados_{partido}.zip"

## Loop para baixar os arquivos

In [ ]:
# Loop para baixar os arquivos

for partido in partidos:
  url = url_base.replace('{partido}', partido)
  print(url)
  get.urlretrieve(url, partido+".zip")

http://cdn.tse.jus.br/estatistica/sead/odsele/filiacao_partidaria/filiados_pstu.zip
http://cdn.tse.jus.br/estatistica/sead/odsele/filiacao_partidaria/filiados_pco.zip
http://cdn.tse.jus.br/estatistica/sead/odsele/filiacao_partidaria/filiados_phs.zip

## Loop para extrair/ler os arquivos

In [ ]:
# Aqui vamos extrair a lista dos arquivos
arquivos_zip = glob.glob("*.zip")

for arquivo in arquivos_zip:
    with zipfile.ZipFile(arquivo,"r") as zip_ref:
      zip_ref.extractall()

In [ ]:
# Agora vamos ler os arquivos CSV

arquivos_csv = glob.glob("*.csv")

filiados = pd.concat([pd.read_csv(arquivo, sep = ';', encoding='ISO-8859-1') for arquivo in arquivos_csv ])

## Enfim, os dados

In [ ]:
filiados

     DATA DA EXTRACAO  ... MOTIVO DO CANCELAMENTO
0          30/04/2021  ...                    NaN
1          30/04/2021  ...                    NaN
2          30/04/2021  ...                    NaN
3          30/04/2021  ...               JUDICIAL
4          30/04/2021  ...                    NaN
...               ...  ...                    ...
6504       30/04/2021  ...                    NaN
6505       30/04/2021  ...                    NaN
6506       30/04/2021  ...                    NaN
6507       30/04/2021  ...                    NaN
6508       30/04/2021  ...                    NaN

[29153 rows x 19 columns]

In [ ]:
filiados.describe(include= 'all')

       DATA DA EXTRACAO  ...   MOTIVO DO CANCELAMENTO
count             29153  ...                     5833
unique                1  ...                        4
top          30/04/2021  ...  CANCELAMENTO AUTOMÁTICO
freq              29153  ...                     2832
mean                NaN  ...                      NaN
std                 NaN  ...                      NaN
min                 NaN  ...                      NaN
25%                 NaN  ...                      NaN
50%                 NaN  ...                      NaN
75%                 NaN  ...                      NaN
max                 NaN  ...                      NaN

[11 rows x 19 columns]

In [ ]:
# Conta o total por partidos
filiados.groupby('UF')['SIGLA DO PARTIDO'].value_counts()

UF  SIGLA DO PARTIDO
AC  PSTU                119
    PCO                  57
AL  PSTU                317
    PCO                  91
AM  PCO                 306
                       ...
SP  PHS                  44
TO  PSTU                 17
    PCO                   4
ZZ  PSTU                 26
    PCO                   9
Name: SIGLA DO PARTIDO, Length: 66, dtype: int64